* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}


body {
	max-width: 1920px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	font-family: $os;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 5px;

	@media (min-width: $responsive-wide) {
		padding: 0;
	}
}

a {
	text-decoration: none;
	transition: 0.3s;
	cursor: pointer;
}

button {
	display: block;
	border: none;
	outline: none;
	padding: 0;
	transition: 0.3s;
}

input {
	-webkit-border-radius:0px;
	box-shadow: none;
	appearance: none;
}

h1,h2,h3,h4,h5,h5,h6,p {
	font-weight: normal;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.flickity-viewport {
	width: 100%;
}

.flickity-page-dots {
	bottom: 20px;

	@media (min-width: $responsive-tablet) {
		bottom: -25px;
	}

	.dot {
		width: 8px;
		height: 8px;
		background: #726b61;

		&.is-selected {
			background: #262626;
		}
	}
}