section.advantages
	.container
		.advantages-list
			.advantage
				p.
					Доставка по всей РБ
			.advantage
				p.
					Программа защиты
			.advantage
				p.
					Представлены только производители
			.advantage
				p.
					Возврат и обмен
			.advantage
				p.
					Лучшие цены