footer
	.desktop-container		
		ul.footer-nav
			li
				a(href="#") Покупателю
			li
				a(href="#") Продавцу
			li
				a(href="#") О нас
		a(href="#").footer-feedback Задать нам вопрос
		.copyright © 2017 Company.by		