header
	.container
		.main-line
			.logo
				a(href="/")
					img(src="assets/images/ui/logo.png", alt="Company.by")
			a(href="#" class="mobile-menu")
				.burger-line
		.header-contacts
			.search-form
				form(action="#")
					input(type="text" placeholder="Введите запрос" required)
					button(type="submit")
			a(href="#" class="header-location") Старые Дороги
			.header-phone
				a(href="tel:80291550456") 8 (029) 155-04-56
				.worktime Работаем с 9.00 до 19.00
		.header-panel
			.user-links
				a(href="#") Вход
				a(href="#") Регистрация
			ul.shop-links
				li
					a(href="#" class="header-compare") 0
				li
					a(href="#" class="header-favourite") 0
				li
					a(href="#" class="header-cart") 12