section.main
	.container
		include _menu.jade
		.main-slider
			.slide.white-data
				img(src="assets/images/ui/banner-shoes.png", class="img" alt="")
				.slide-data
					p Обувь<br> для каждого
					a(href="#") подобрать
			.slide.white-data.text-bottom
				img(src="assets/images/ui/banner-umbrellas.png", class="img" alt="")
				.slide-data
					p Зонты, плащи
					a(href="#") подобрать
			.slide.big.dark-data
				img(src="assets/images/ui/banner-electronics.png", class="img" alt="")
				.slide-data
					p Электроника
						i по доступным ценам
					a(href="#") смотреть варианты
					span Скидка 40%