nav.menu
	ul
		li
			a(href="#" class="menu-item-1") Мягкая мебель
				i.item-icon
		li
			a(href="#" class="menu-item-2") Корпусная мебель
				i.item-icon
		li
			a(href="#" class="menu-item-3") Мебель для кухни
				i.item-icon
		li
			a(href="#" class="menu-item-4") Мебель для спальни
				i.item-icon
		li
			a(href="#" class="menu-item-5") Детская мебель
				i.item-icon
		li
			a(href="#" class="menu-item-6") Текстиль для дома
				i.item-icon
		li
			a(href="#" class="menu-item-7") Столы
				i.item-icon
		li
			a(href="#" class="menu-item-8") Стулья и кресла
				i.item-icon
		li
			a(href="#" class="menu-item-9") Мебель из ротанга
				i.item-icon
		li
			a(href="#" class="menu-item-10") Садовая мебель
				i.item-icon
		li
			a(href="#") Еще...