section.sales
	.desktop-container
		.section-head
			h2 Акции и скидки
			a(href="#").show-more Показать все
		.items-list.five-items.sales-list
			.item
				.label.sale-label до -20%
				.img-container
					img(src="assets/images/demo/demo-product1.png", alt="")
				.sale-data
					a(href="#").category Фотоаппараты
					a(href="#").name Canon EOS 6D Mark II Body
				.sale-prices
					.current-price от 1 792 руб.
			.item
				.label.like-label
				.img-container
					img(src="assets/images/demo/demo-product2.png", alt="")
				.sale-data
					a(href="#").category Камины и печи
					a(href="#").name ТЕРМОФОР Золушка
				.sale-prices
					.price-changed
						.new-price 112 руб.
						.old-price 125 руб.
					.discount -10%
					a(href="#" class="add-to-watchlist")
			.item
				.label.sale-label до -50%
				.img-container
					img(src="assets/images/demo/demo-product3.png", alt="")
				.sale-data
					a(href="#").category Мужские кроссовки и кеды
					a(href="#").name Кроссовки ASICS
				.sale-prices
					.current-price от 50 руб.
			.item
				.label.sale-label до -10%
				.img-container
					img(src="assets/images/demo/demo-product4.png", alt="")
				.sale-data
					a(href="#").category Мужские куртки
					a(href="#").name ALPHA INDUSTRIES
				.sale-prices
					.current-price от 250 руб.
			.item
				.label.like-label
				.img-container
					img(src="assets/images/demo/demo-product2.png", alt="")
				.sale-data
					a(href="#").category Камины и печи
					a(href="#").name ТЕРМОФОР Золушка
				.sale-prices
					.price-changed
						.new-price 112 руб.
						.old-price 125 руб.
					.discount -10%
					a(href="#" class="add-to-watchlist")