section.brands
	.container
		.section-head
			h2 Бренды
			a(href="#").show-more Показать все
		.brands-list
			ul.list-part
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-dell.png", alt="Dell")
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-yr.png", alt="Yves rocher")
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-asics.png", alt="Asics")
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-mi.png", alt="Mi")
			ul.list-part
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-sony.png", alt="Sony")
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-daikin.png", alt="Daikin")
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-dell.png", alt="Dell")
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-yr.png", alt="Yves rocher")
			ul.list-part
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-asics.png", alt="Asics")
				li.brand
					a(href="#")
						img(src="assets/images/ui/brand-mi.png", alt="Mi")
