section.main {

	@media (min-width: $responsive-tablet) {
		margin: 27px 0;
	}

	.container {
		padding: 0;

		@media (min-width: $responsive-tablet) {
			display: flex;
			padding: 0 5px;
			align-items: flex-start;
		}

		@media (min-width: $responsive-wide) {
			padding: 0;
		}
	}

	.main-slider {
		display: flex;
		width: 100%;
		justify-content: space-between;

		@media (min-width: $responsive-tablet) {
			width: calc(100% - 262px);
		}

		&:after {
			content: 'flickity';
  		display: none;

			@media (min-width: $responsive-desktop) {
				content: '';
			}
		}
	}

	.slide {
		width: 100%;
		height: 300px;
		flex-shrink: 0;
		position: relative;
		overflow: hidden;

		@media (min-width: $responsive-tablet) {
			height: 440px;
		}

		&:hover {

			img {

				@media (min-width: $responsive-desktop) {
					transform: scale(1.1);
				}				
			}
		}

		&:not(:last-child) {
			margin-right: 10px;
		}

		&:not(.big) {
			@media (min-width: $responsive-tablet) {
				width: 50%;
			}

			@media (min-width: $responsive-desktop) {
				width: 260px;
			}
		}

		&.big {
			width: 100%;

			@media (min-width: $responsive-desktop) {
				width: calc(100% - 270px*2);
			}
		}

		&.white-data {
			color: #fff;
			text-align: center;
		}

		&.text-bottom {
			
			.slide-data {

				@media (min-width: $responsive-tablet) {
					padding-top: 290px;
				}				
			}						
		}

		&.dark-data {
			color: #2b2b2b;

			p {
				font-size: 40px;

				@media (min-width: $responsive-tablet) {
					font-size: 48px;
				}

				i {
					font-weight: 400;
					font-size: 24px;
				}
			}

			span {
				font-size: 18px;
				position: absolute;
				bottom: 25px;
				left: 20px;
				display: block;

				@media (min-width: $responsive-tablet) {
					left: 37px;
				}
			}

			.slide-data {

				@media (min-width: $responsive-tablet) {
			    padding: 79px 0 0 37px;
				}
			}
		}

		img {
			transition: 0.8s;
		}
	}

	.slide-data {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		line-height: 37px;
		font-weight: 300;
		text-shadow: 0 0 8px rgba(0,1,1,.31);

		@media (min-width: $responsive-tablet) {
			padding: 40px 5px;
		}

		p {
			font-size: 38px;
			font-weight: inherit;
			color: inherit;	
		}

		a {
			font-size: 18px;
			color: inherit;
			display: block;
			margin-top: 9px;

			&:hover {
				text-decoration: underline;
			}
		}

		i {
			display: block;
			font-style: normal;
		}
	}

	.flickity-page-dots {
		bottom: 20px;

		@media (min-width: $responsive-tablet) {
			bottom: -15px;
		}
	}
}

section.advantages {
	margin-bottom: 40px;
	background: #f9f9f9;

	@media (min-width: $responsive-laptop) {
		margin-bottom: 53px;
	}

	.container {
		padding: 0;
	}

	.advantages-list {
		display: flex;

		&:after {
			content: 'flickity';
  		display: none;

			@media (min-width: $responsive-laptop) {
				content: '';
			}
		}
	}

	.advantage {
		text-align: center;
		width: 100%;
		background: #f7f2e6;
		min-height: 150px;
		padding-top: 85px;
		position: relative;

		@media (min-width: $responsive-mobile) {
			width: 50%;
		}

		@media (min-width: $responsive-tablet) {
			width: 33%;
		}

		@media (min-width: $responsive-laptop) {
			width: 20%;
		}

		&:not(:last-child) {

			@media (min-width: $responsive-mobile) {
				border-right: 1px solid #d8d4c9;
			}
		}

		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 28px;
			left: 50%;
			transform: translateX(-50%);
			background: url('../images/ui/sprite.png') no-repeat;
		}

		p {
			font-size: 16px;
			color: #5f96ce;
			margin: 0 auto;
			max-width: 90px;
		}

		&:nth-child(1) {

			&:before {
				width: 85px;
				height: 37px;
				background-position: 0 -294px;
			}
		}

		&:nth-child(2) {

			&:before {
				width: 35px;
				height: 44px;
				background-position: 0 -332px;
			}
		}

		&:nth-child(3) {

			p {
				max-width: 190px;
			}

			&:before {
				width: 35px;
				height: 60px;
				top: 12px;
				background-position: 0 -377px;
			}
		}

		&:nth-child(4) {

			&:before {
				width: 43px;
				height: 43px;
				background-position: 0 -438px;
			}
		}

		&:nth-child(5) {

			&:before {
				width: 47px;
				height: 46px;
				background-position: 0 -482px;
			}
		}
	}

	.flickity-page-dots {
		bottom: -15px;
	}
}