<!DOCTYPE html>
html(lang="ru")
	head
		include parts/_head.jade
		title By | Main
	body
		include parts/_header.jade
		include parts/_main.jade
		include parts/_advantages.jade
		include parts/_section-sales.jade
		include parts/_section-brands.jade
		include parts/_scripts.jade